	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/08/2016 11:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.html");
  src: url("Flaticond41dd41d.html?#iefix") format("embedded-opentype"),
       url("Flaticon-2.html") format("woff"),
       url("Flaticon-3.html") format("truetype"),
       url("Flaticon-4.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon-4.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-broccoli:before { content: "\f100"; }
.flaticon-broccoli-1:before { content: "\f101"; }
.flaticon-carrot:before { content: "\f102"; }
.flaticon-drink:before { content: "\f103"; }
.flaticon-flour:before { content: "\f104"; }
.flaticon-flour-1:before { content: "\f105"; }
.flaticon-food:before { content: "\f106"; }
.flaticon-food-1:before { content: "\f107"; }
.flaticon-food-10:before { content: "\f108"; }
.flaticon-food-11:before { content: "\f109"; }
.flaticon-food-12:before { content: "\f10a"; }
.flaticon-food-13:before { content: "\f10b"; }
.flaticon-food-14:before { content: "\f10c"; }
.flaticon-food-15:before { content: "\f10d"; }
.flaticon-food-16:before { content: "\f10e"; }
.flaticon-food-17:before { content: "\f10f"; }
.flaticon-food-18:before { content: "\f110"; }
.flaticon-food-19:before { content: "\f111"; }
.flaticon-food-2:before { content: "\f112"; }
.flaticon-food-20:before { content: "\f113"; }
.flaticon-food-21:before { content: "\f114"; }
.flaticon-food-3:before { content: "\f115"; }
.flaticon-food-4:before { content: "\f116"; }
.flaticon-food-5:before { content: "\f117"; }
.flaticon-food-6:before { content: "\f118"; }
.flaticon-food-7:before { content: "\f119"; }
.flaticon-food-8:before { content: "\f11a"; }
.flaticon-food-9:before { content: "\f11b"; }
.flaticon-fruit:before { content: "\f11c"; }
.flaticon-fruit-1:before { content: "\f11d"; }
.flaticon-fruit-2:before { content: "\f11e"; }
.flaticon-fruit-3:before { content: "\f11f"; }
.flaticon-fruit-4:before { content: "\f120"; }
.flaticon-fruit-5:before { content: "\f121"; }
.flaticon-fruit-6:before { content: "\f122"; }
.flaticon-garlic:before { content: "\f123"; }
.flaticon-groceries:before { content: "\f124"; }
.flaticon-grocery:before { content: "\f125"; }
.flaticon-healthy-shakes:before { content: "\f126"; }
.flaticon-interface:before { content: "\f127"; }
.flaticon-lemon:before { content: "\f128"; }
.flaticon-medical:before { content: "\f129"; }
.flaticon-pineapple:before { content: "\f12a"; }
.flaticon-potatoes:before { content: "\f12b"; }
.flaticon-salad:before { content: "\f12c"; }
.flaticon-salad-1:before { content: "\f12d"; }
.flaticon-salad-2:before { content: "\f12e"; }
.flaticon-shopping-basket:before { content: "\f12f"; }
.flaticon-spa:before { content: "\f130"; }
.flaticon-strawberry:before { content: "\f131"; }